.card{
    margin: 1rem auto;   
}

.remove{
    float: right;
    color: red;
    font-size: 1rem;
}

.redirect-saved{
    float: right;
    color: green;
    font-size: 1.25rem;
    text-decoration: none
}

.headline{
    font-size: 1.25rem;
    font-weight: bold;
}

.article-info{
    font-size: 1rem;
}
